# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Odoo artifacts
*.pot
*.log
*.zip
*.swp
*.egg-info/

# Unit test / coverage
.coverage
nosetests.xml
htmlcov/

# Environment
.env
*.env
.env.*

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS generated
.DS_Store
Thumbs.db

# Python virtual envs
venv/
env/
.venv/
